.alert-danger {
  position: relative;
  transition: width 2s;
}

.user-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.cost-input,
.quantity-input {
  width: 80px;
  padding: 0px;
  margin: 0px;
}
.col {
  border: 1px solid black;
}
th,
td {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

contain-svg,
svg {
  padding: 0px;
  margin: 0px;
  transition: height 0.1s;
}

contain-svg svg:hover {
  height: 40px;
}
