.alert-danger {
  position: fixed;
  top:0;
  left:50vw;
}

.user-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

th,
td {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

contain-svg,
svg {
  padding: 0px;
  margin: 0px;
  transition: height 0.1s;
}

contain-svg svg:hover {
  height: 40px;
}
