.user-container {
  margin-left: 50px;
  margin-right: 50px;
}

th,
td {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 0px;
  border: 1px solid black;
}

button {
  padding: 0px;
  margin: 0px;
}
