<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date</th>
      <th scope="col">Net Amount</th>
    </tr>
  </thead>
  <tbody *ngFor="let row of dataTable; let i = index">
    <tr *ngIf="dataTable != null">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ row.quantity }}</td>
      <td>{{ row.date | date: "dd-MMM-yyyy" }}</td>
      <td>{{ +row.quantity * 70 }}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="dataTable.length < 1">No Data Available</p>
