<div class="container">
  <div class="loading-spinner" *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <table class="table" *ngIf="!isLoading">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date</th>
        <th scope="col">Net Amount</th>
      </tr>
    </thead>
    <tbody *ngFor="let row of dataTable; let i = index">
      <tr *ngIf="isAvailable">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ row.quantity }}</td>
        <td>{{ row.date | date: "dd-MMM-yyyy" }}</td>
        <td>{{ +row.quantity * 70 }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!isAvailable">No Data Available</p>
</div>
