.container {
  overflow-y: auto;
  height: 300px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.loading-spinner {
  position: relative;
  top: 40%;
  left: 40%;
}

p {
  text-align: center;
  color: red;
  font-weight: bolder;
}
