<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
  {{ errorMsg }}
</div>
<div class="contain">
  <form #login="ngForm">
    <div class="row head"><div class="col">Login</div></div>
    <div class="row">
      <div class="col-3"><label for="email">Email</label></div>
      <div class="col-9">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email"
          ngModel
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3"><label for="password">Password</label></div>
      <div class="col-9">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="**********"
          ngModel
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onLogin()"
          [disabled]="!login.valid"
        >
          Login
        </button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
