.contain-form {
  height: 300px;
}

.container-header {
  padding: 0.6em;
  background-color: #dd4124;
  font-weight: bolder;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.col,
.row {
  width: auto;
  align-items: center;
  padding: 0px;
}

.on-select {
  cursor: grab;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #5b5ea6;
}

.contain-form .row > .col > .on-select:hover {
  background-color: #bc243c;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.on-select:active {
  background-color: #bc243c;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  left: 30%;
}
