<div class="container contain-form">
  <div class="row">
    <div class="col" *ngFor="let q of quantityArray">
      <button
        type="button"
        class="btn btn-success on-select"
        name="quantity"
        [value]="q"
        (click)="give($event)"
      >
        {{ q }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="submit-button col">
      <button class="btn btn-primary" type="submit" (click)="onAdd()">
        Add Milk
      </button>
    </div>
  </div>
</div>
