.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inner-container:first-child {
  display: block;
  width: 400px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-container:nth-child(2) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  width: 400px;
}
div {
  padding: 5px 10px 5px 10px;
  text-align: center;
  align-items: center;
}

.set-price {
  width: 5rem;
  border: 0.1rem solid rgb(190, 189, 189);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.currency {
  padding: 0.18rem 0.3rem 0.25rem 0.3rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0.05rem solid rgb(190, 189, 189);
  border-right-color: rgb(218, 214, 214);
  background-color: rgb(218, 214, 214);
}
