.container {
  width: 350px;
  height: 100%;
}

.header {
  height: 40px;
  background-color: brown;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.header > div:first-child {
  top: 5px;
}

.container > .row:nth-child(2) {
  background-color: gray;
  color: aliceblue;
  font-weight: bold;
}
.container > .row:nth-child(2),
.row:nth-child(3) .col {
  padding-top: 6px;
  padding-bottom: 5px;
}
