body {
  margin: 0px;
  padding: 0px;
}
.flex-container {
  margin: 100px;
}
.flex-container > div > div:first-child {
  height: auto;
  width: 300px;
  margin: 20px;
  border: 1px solid gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container > div > div:nth-child(2) {
  height: auto;
  width: auto;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container > div > div:nth-child(3) {
  height: 200px;
  width: auto;
  margin: 20px;
  border: 1px solid gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
