<div class="container flex-container">
  <div class="row">
    <div class="col data-container"><app-addmilk></app-addmilk></div>
    <div class="col data-container"><app-listdata></app-listdata></div>
  </div>
  <div class="row">
    <div class="col data-container"><app-showreport></app-showreport></div>
    <div class="col data-container"></div>
  </div>
</div>
<!--<div class="flex-container">
  <div class="data-container">
    <app-addmilk></app-addmilk>
  </div>
  <div class="data-container"><app-showreport></app-showreport></div>
  <div class="data-container"></div>

  <div class="data-container"><app-listdata></app-listdata></div>
</div>-->
